@import node_modules/bootstrap/scss/bootstrap
@import helpers/variables
@import helpers/mixins
@import helpers/mx
@include font-face('Bw Modelica', '../fonts/BwModelica-Regular', normal, normal, eot woff2 woff)
@include font-face('Bw Modelica', '../fonts/BwModelica-Bold', bold, normal, eot woff2 woff)
@include font-face('Bw Modelica', '../fonts/BwModelica-ExtraBold', 800, normal, eot woff2 woff)
@include font-face('Bw Modelica', '../fonts/BwModelica-Medium', 500, normal, eot woff2 woff)
@include font-face('Bw Modelica SS01', '../fonts/BwModelicaSS01-Regular', normal, normal, eot woff2 woff)
@include font-face('Bw Modelica SS01', '../fonts/BwModelicaSS01-Black', bold, normal, eot woff2 woff)

// ------------- GERAL -------------//
*
    font-family: Bw Modelica
    font-weight: normal
a
    text-decoration: none
    color: inherit
    &:hover
        text-decoration: none
        color: inherit
.texto-amarelo
    color: $amarelo !important
.texto-verde
    color: $verde !important
.texto-verde-escuro
    color: $verde-escuro !important
.bg-amarelo
    background-color: $amarelo
.bg-cinza-fraco
    background-color: $cinza-fraco
.bg-branco
    background-color: #ffffff
.bg-gray
    background-color: #f0f0f0 !important
.img-responsive
    @include media-breakpoint-down(lg)
        height: 20em !important
    @include media-breakpoint-only(lg)
        width: 100%
    height: auto
.cabecalho
    border-top: 5px solid $verde-escuro
.topo-contato
    @include media-breakpoint-down(lg)
        @include make-col(10)
        padding: 2% 0
    @include make-col(9)
    padding: 0.5% 0
    div
        height: 1.5em
    img
        height: 100%
        width: auto
.redondo
    background-color: $verde
    padding: 2em
    border-radius: 75px
.img-fluid-reverse
    max-width: 100%
    height: 173px
// ------------- END GERAL -------------//

// ------------- CABEÇALHO -------------//
.topo
    @include media-breakpoint-down(lg)
        background-color: rgb(13,13,13)
    background-color: rgba(13,13,13,0.6)
    z-index: 999
    position: absolute
    width: 100%
    nav
        @include media-breakpoint-down(lg)
            padding: 0
        @include make-col(10)
        padding-top: 0 !important
        padding-bottom: 0 !important
        align-items: stretch
    .navbar-collapse
        align-items: stretch
    .nav-item
        display: flex
        align-items: center
        &:hover
            background-color: #000000
    .active
        background-color: #000000 !important
    .navbar-nav
        @include media-breakpoint-down(md)
            margin-bottom: 1em
    .navbar-brand
        img
            width: auto
            height: 5.5em
            margin-top: -40px
    .nav-link
        @include media-breakpoint-only(lg)
            font-size: 0.6em
            padding: 0 0.8em !important
        font-weight: 500
        font-size: 0.9em
        padding: 0 1em !important
        color: #ffffff !important
        text-transform: uppercase
        height: 100%
        display: flex
        align-items: center
        span
            border: 2px solid $amarelo
            padding: 0.5em
            &:hover
                background-color: $amarelo
                color: $verde-escuro
.flickity-page-dots 
    bottom: 5px !important
    .dot 
        width: 12px !important
        height: 12px !important
        opacity: 1 !important
        background: #ffffff !important
        border: 2px solid white !important
        &.is-selected 
            background: $amarelo !important
            border: 2px solid $amarelo !important
.carousel-cell 
    width: 100% !important
    margin-right: 10px !important
    display: flex
    justify-content: center
.separador
    border-left: 2px solid #3e3f40
    height: 70%
    margin-top: 1%
    @include media-breakpoint-down(lg)
        display: none
// ------------- END CABEÇALHO -------------//

// ------------- HOME -------------//
#banner
    border-bottom: 5px solid $amarelo
    // .conteudo
    //     @include media-breakpoint-down(lg)
    //         top: 12em   
    //     @include media-breakpoint-down(sm)
    //         top: 10em 
    //     position: absolute
    //     z-index: 990
    //     top: 20em
    .texto-banner
        @include media-breakpoint-down(lg)
            top: 8em   
            left: 6em
        @include media-breakpoint-down(md)
            top: 8em   
            left: 4em
        @include media-breakpoint-down(sm)
            top: 7em 
            left: 2em
        position: absolute
        z-index: 990
        top: 11em
        h1
            @include media-breakpoint-down(lg)
                font-size: 1em
        @include media-breakpoint-down(lg)
            @include make-col(10)
        @include make-col(8)
    h1
        font-weight: 800
        text-transform: uppercase
        color: #ffffff
    .btn-banner
        @include media-breakpoint-down(lg)
            padding: 0.5em
            font-size: 0.5em
        background-color: $amarelo
        border: none
        font-weight: 800
        padding: 1em
        color: $verde-escuro
#servicos
    background: url("../img/bgServicos.png") bottom no-repeat 
    background-size: cover
    padding-bottom: 2em
    .titulo-servicos
        @include media-breakpoint-down(lg)
            @include make-col(10)
        @include make-col(8)
        h3
            @include media-breakpoint-down(lg)
                padding: 2em 0
                font-size: 1.3em
            font-weight: 800
            padding: 2em
            color: $verde-escuro
    .servicos
        @include make-col(8)
        @include media-breakpoint-down(md)
            @include make-col(11)
            grid-template-columns: 18em
            grid-template-rows: 18em 18em 18em
        @include media-breakpoint-only(lg)
            @include make-col(11)
            grid-template-columns: 18em 18em 18em
        display: grid
        grid-template-columns: 20em 20em 20em
        grid-template-rows: 18em
        grid-gap: 1.5em
        .servico
            justify-content: center
            align-items: center
            display: flex
            flex-direction: column
            padding: 4em
            overflow: hidden
            position: relative
            span
                text-align: center
                color: #ffffff
                margin-top: 0.5em
                font-weight: 500
                font-size: 0.9em
            & > .bgzoom
                position: absolute
                height: 100%
                width: 100%
                -moz-transition: all 2s
                -webkit-transition: all 2s
                transition: all 2s
                -moz-transform: scale(1,1)
                -webkit-transform: scale(1,1)
                transform: scale(1,1)
                -moz-background-size: cover
                -webkit-background-size: cover
                background-size: cover
                z-index: 0
            &:hover > .bgzoom 
                -moz-transform: scale(1.5,1.5)
                -webkit-transform: scale(1.5,1.5)
                transform: scale(1.5,1.5)
            .gestao
                background: url("../img/bgGestao.png") no-repeat center #414141
            .pedra
                background: url("../img/bgPedra.png") no-repeat center #414141
            .locacao
                background: url("../img/bgLocacao.png") no-repeat center #414141
        .content
            position: absolute
            width: 100%
            height: 100%
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            padding: 4em
            background-color: rgba(65,65,65,0.7)
            z-index: 1
            a
                color: $amarelo
                font-weight: 500
                font-size: 0.9em
        .bg-yellow
            position: absolute
            width: 100%
            height: 0
            bottom: 0
            background-color: $amarelo-transp
            display: flex
            justify-content: center
            align-items: flex-end
    .icone-servico 
        min-height: 5em
    .lista-servicos
        background-color: rgba(0, 43, 39, 0.85)
        padding: 2em 0
        margin-top: 8em
        .listas
            @include media-breakpoint-down(lg)
                @include make-col(10)
            @include make-col(8)
            color: #ffffff
            font-size: 1.3em
            li
                color: $amarelo
                span
                    color: #ffffff
footer
    padding: 2em 0
    background-color: #091f1c
    color: #c2c2c2
    font-size: 0.8em
    border-top: 10px solid $verde-escuro
    .tel
        font-size: 1.5em
    .rodape
        @include make-col(8)
        @include media-breakpoint-down(lg)
            @include make-col(10)
    svg
        font-size: 2em !important
        margin-right: 0.5em
        color: #ffffff
        &:hover
            color: $amarelo
    .btn-news
        border: 1px solid #fff
        background-color: $amarelo
        svg
            margin-right: 0 !important
            font-size: 1.2em !important
            color: $verde-escuro !important
        &:hover
            background-color: $verde-escuro
            svg
                color: $amarelo !important
    strong
        color: #ffffff
        font-size: 1.5em
    .diclaimer
        display: flex
        justify-content: center
        align-items: flex-end
        font-size: 0.7em
        div
            @include make-col(8)
// ------------- END HOME ------------- //

// ------------- EMPRESA ------------- //
#banner-empresa
    position: relative
    padding-bottom: 2em
    .banner-empresa
        @include media-breakpoint-down(lg)
            @include make-col(10)
            flex-direction: column
            align-items: center
        @include make-col(8)
        display: flex
        padding-top: 7em
        justify-content: space-between
        .texto-esquerda
            @include media-breakpoint-down(lg)
                @include make-col(12)
                text-align: justify
                padding-right: 0
            @include make-col(5)
            p
                @include media-breakpoint-down(lg)
                    font-size: 1.5em
                font-size: 2.0em
                b
                    font-weight: bold
            text-align: right
            padding-right: 1em
        .texto-direita
            @include media-breakpoint-down(lg)
                @include make-col(12)
                text-align: justify
                padding-left: 0
                padding-top: 1em
            @include make-col(7)
            text-align: left
            padding-left: 1em
        b
            font-family: Bw Modelica SS01
        .btn-banner
            @include media-breakpoint-down(lg)
                padding: 0.5em
                font-size: 1em
            background-color: $verde-escuro
            border: none
            font-weight: 800
            padding: 1em
            color: #ffffff
    .img-banner
        @include media-breakpoint-down(lg)
            display: none
        @include make-col(5)
        position: absolute
        bottom: -10em
#dados-empresa
    padding-bottom: 3em
    .numeros
        @include media-breakpoint-down(lg)
            @include make-col(10)
            padding-top: 1em
            font-size: 2em
        @include make-col(8)
        padding-top: 5em
        font-size: 2em
        .num-cel
            @include media-breakpoint-down(lg)
                padding-top: 1em 
            display: flex
            justify-content: center
            flex-direction: column
            align-items: center
        .numscroller
            color: $amarelo
            font-weight: 800
        .legenda
            font-size: 0.5em
            font-weight: bold
            text-align: center
    b
        font-family: Bw Modelica SS01
#historia-empresa
    background-color: #f3f3f3
    padding-bottom: 3em
    b
        font-family: Bw Modelica SS01
        font-size: 2em
    .historia
        @include media-breakpoint-down(lg)
            @include make-col(10)
        @include make-col(8)
        .timeline 
            @include media-breakpoint-down(sm)
                width: 60px
            position: relative
            width: 100px
            &::after 
                @include media-breakpoint-down(sm)
                    width: 3px
                    right: 6px
                content: ''
                position: absolute
                width: 5px
                background-color: $verde-escuro
                top: 0
                bottom: 0
                right: 5px
                margin-left: -3px
            .celula 
                @include media-breakpoint-down(sm)
                    padding-bottom: 0em
                position: relative
                background-color: inherit
                padding-bottom: 0.5em
                &::after 
                    @include media-breakpoint-down(sm)
                        width: 10px
                        height: 10px
                        right: 2px
                    content: ''
                    position: absolute
                    width: 15px
                    height: 15px
                    right: 0
                    background-color: #fff
                    border: 1px solid $amarelo
                    top: 0.5rem
                    border-radius: 50%
                    z-index: 1
                .content
                    text-align: right
                    a
                        @include media-breakpoint-down(sm)
                            font-size: 0.8em
                        margin-right: 30px
                        font-size: 1.3em
                        font-weight: bold
                        cursor: pointer
            .selected
                &::after 
                    @include media-breakpoint-down(sm)
                        width: 10px
                        height: 10px
                        right: 2px
                    content: ''
                    position: absolute
                    width: 15px
                    height: 15px
                    right: 0
                    background-color: $amarelo
                    border: 1px solid $amarelo
                    top: 0.5rem
                    border-radius: 50%
                    z-index: 1
                .content a
                    @include media-breakpoint-down(sm)
                        font-size: 1em
                    margin-right: 30px
                    font-size: 1.5em
                    font-weight: bold
                    cursor: pointer
                    color: $verde-claro
                    font-family: Bw Modelica SS01
                    font-weight: bold
            .left 
                left: 0
        .historia-foto
            @include media-breakpoint-down(lg)
                padding-left: 1.5em
            padding-left: 4.5em
// ------------- END EMPRESA ------------- //

// ------------- CLIENTES ------------- //
#clientes
    padding: 10em 0
    .clientes
        @include media-breakpoint-down(lg)
            @include make-col(10)
        @include media-breakpoint-only(xl)
            @include make-col(9)
        @include make-col(8)
        .linha
            div
                @include media-breakpoint-only(md)
                    margin-left: 2em
                @include media-breakpoint-only(lg)
                    margin-left: 2em
            @include media-breakpoint-down(sm)
                flex-direction: column
                margin-top: 0
                div
                    margin-top: 7em
            margin-top: 7em
    b
        font-family: Bw Modelica SS01
        font-size: 2em
        color: $verde-escuro
// ------------- END CLIENTES -------------//

// ------------- RESPONSABILIDADE -------------//
#resp-banner
    @include media-breakpoint-down(lg)
        min-height: 15em
        background-size: auto 100%
    background: url('../img/banner-responsabilidade.png') center
    min-height: 25em
#resp-conteudo
    padding-bottom: 5em
    .conteudo
        @include media-breakpoint-down(lg)
            @include make-col(10)
            flex-direction: column
            p
                text-align: justify
        @include make-col(8)
        display: flex
        align-items: center
        padding: 3em 0
        h2
            @include media-breakpoint-down(lg)
                margin: 1em 0
            font-family: Bw Modelica SS01
            font-size: 2em
            color: $verde-escuro
            font-weight: bold
            margin-bottom: 1.5em
    .resp-content
        @include media-breakpoint-down(lg)
            margin-left: 0
        margin-left: 2em
    .dark-bg
        background-color: #f3f3f3
// ------------- END RESPONSABILIDADE ------------- //
// ------------- FORMULÁRIO ------------- //
#area
    padding: 5em 0
    .formulario
        padding: 2em 0
        @include media-breakpoint-down(lg)
            @include make-col(10)
        @include make-col(4)
        h3
            @include media-breakpoint-down(md)
                font-size: 1.5em
            font-family: "Bw Modelica SS01"
            color: $verde-escuro
            font-weight: bold
            text-align: center
        label
            color: $verde-escuro
            font-weight: bold
            font-size: 1em
        .botao-login
            @include media-breakpoint-down(md)
                font-size: 0.8em
            width: 100%
            border: none
            background-color: $amarelo
            text-align: center
            color: $verde-escuro
            font-weight: bold
            padding: 0.5em 0
            cursor: pointer
        .botao-cadastro
            width: 100%
            border: none
            background-color: $cinza-claro
            text-align: center
            color: $cinza
            font-weight: bold
            padding: 0.5em 0
            cursor: pointer
        .form-separador
            width: 100%
            position: relative
            text-align: center
            margin: 1.5em 0
        .campo-formulario
            background: $cinza-fraco
            border: none
            border-radius: 0
            font-size: 0.8em
// ------------- END FORMULÁRIO ------------- //
// ------------- BLOG ------------- //
.blog
    @include media-breakpoint-down(lg)
        @include make-col(10)
    @include make-col(8)
    padding: 7em 0 3em 0
.noticia
    @include media-breakpoint-down(lg)
        @include make-col(10)
        margin: 1.5em 0 0 0
    @include make-col(3)
    margin: 0 1.5em
    padding-bottom: 0.8em
    border-bottom: 1px $cinza-claro solid
    .noticia-head
        font-weight: 800
        color: #000000
        margin: 1.5em 0
    a
        background: $verde-escuro
        color: #ffffff
        padding: 0.5em
    .img-noticia
        width: 100%
        height: auto
.paginacao
    @include media-breakpoint-down(lg)
        @include make-col(10)
    @include make-col(8)
    margin-top: 5em
// ------------- END BLOG ------------- //
// ------------- PRODUTOS ------------- //
#banner-produtos
    .banner-texto
        @include media-breakpoint-down(md)
            width: 100%
            padding-top: 8em
            padding-bottom:  3em
        width: 50%
        padding-top: 10em
        padding-bottom:  5em
        div 
            font-family: "Bw Modelica SS01"
            font-size: 1.8em
            b
                font-family: "Bw Modelica SS01"
    .texto-direita
        @include media-breakpoint-down(md)
            padding-right: 0em
        padding-right: 1em
        background-color: $amarelo
        color: $verde-escuro
        text-align: right
        div
            @include media-breakpoint-down(lg)
                padding-left: 3em
            padding-left: 13em
            @include media-breakpoint-down(md)
                padding-right: 1em
                padding-left: 1em
                text-align: center
    .texto-esquerda
        @include media-breakpoint-down(md)
            padding-top: 3em
            padding-left: 0em
        padding-left: 1em
        background-color: $cinza-fraco
        text-align: left
        div
            @include media-breakpoint-down(lg)
                padding-right: 3em
            padding-right: 13em
            @include media-breakpoint-down(md)
                padding-right: 1em
                padding-left: 1em
                text-align: center
.round-icons
    @include make-col(8)
    display: flex
    justify-content: space-around
    align-items: center
    .round-content
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        p
            @include media-breakpoint-down(lg)
                padding: 0
            padding: 0 5em
            padding-top: 0.5em
            text-align: center
            font-weight: 500
#section-break
    background-color: $verde
    padding: 0.5em
    .imgs-break
        @include make-col(8)
        img
            max-width: 25em
            height: auto
            margin-left: 1em
        .carousel-cell 
            text-align: center
.lista-produtos
    @include make-col(8)
    li
        padding: 1.5em 0
    .enfase
        color: $verde-escuro
#produtos
    padding: 3em 0
    .produtos
        @include media-breakpoint-down(lg)
            grid-template-columns: 1fr 1fr 1fr
            grid-template-rows: repeat(4, auto)
        @include media-breakpoint-only(md)
            grid-template-columns: 1fr 1fr
            grid-template-rows: repeat(5, auto)
        @include media-breakpoint-down(sm)
            grid-template-columns: 1fr
            grid-template-rows: repeat(11, auto)
        @include make-col(8)
        display: grid
        grid-template-columns: repeat(6, 1fr)
        grid-template-rows: auto auto
        grid-gap: 2em
        justify-content: space-between
        .produto-foto
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            b
                text-transform: uppercase
                text-align: center
                color: $verde-escuro
                
// ------------- END PRODUTOS ------------- //
// ------------- CONTATO ------------- //
#banner-contato
    @include media-breakpoint-down(md)
        background-position-x: 50em
    @include media-breakpoint-down(lg)
        min-height: 15em
        background-size: auto 100%
    background: url('../img/banner-contato.png') center
    min-height: 25em
#contato-content
    margin-top: 1em
    margin-bottom: 4em
    .contato-infos
        @include media-breakpoint-down(md)
            width: 100%
        width: 55%
        p
            line-height: 2
        h2
            font-family: "Bw Modelica SS01"
            font-weight: bold
            color: $amarelo
        .contatos2
            @include media-breakpoint-down(md)
                @include make-col(12)
                padding: 2em 3em
            @include media-breakpoint-only(lg)
                padding: 2em
                font-size: 0.8em
            padding: 2em 5em 2em 2em
        .contatos
            @include media-breakpoint-down(md)
                @include make-col(12)
                padding: 2em 3em
            @include media-breakpoint-only(lg)
                padding: 2em 2em 2em 8em
                font-size: 0.8em
            padding: 2em 2em 2em 17em
    .contato-form
        @include media-breakpoint-down(md)
            width: 100%
            padding: 3em 0
            display: flex
            align-items: center
            flex-direction: column
            justify-content: center
        width: 45%
        background-color: $verde-escuro
        color: #ffffff
        padding: 2em 4em
        h2
            font-family: "Bw Modelica SS01"
            font-weight: bold
            color: $amarelo
        .form
            @include media-breakpoint-down(md)
                @include make-col(10)
                width: 83.333%
            @include media-breakpoint-only(lg)
                @include make-col(10)
            @include make-col(8)
            button
                color: $verde-escuro
                background-color: $amarelo
                padding: 0.7em 2em
                font-weight: bold
                border: none
    .mapa-estrada
        @include media-breakpoint-down(md)
            @include make-col(12)
            img
                margin: 0 2em
        @include make-col(8)
        display: flex
        justify-content: center
        align-items: center
        img
            margin-right: 2em
#contato-newsletter
    padding-bottom: 3em
    .news-whats
        @include media-breakpoint-down(md)
            width: 100%
            padding: 2em
            font-size: 1.0em
            text-align: center !important
        @include media-breakpoint-only(lg)
            font-size: 1.0em
            padding: 4em 2em
        width: 40%
        color: $verde-escuro
        background-color: $amarelo
        padding: 3em 2em
        font-size: 1.2em
        svg
            width: 2.5em
            fill: $verde-escuro
    .news-form
        @include media-breakpoint-down(md)
            width: 100%
            padding: 2em
        padding: 3em 2em
        width: 60%
        background-color: $verde-dark
        color: $amarelo
        .btn-news
            border: 1px solid #fff
            background-color: $amarelo
            svg
                margin-right: 0 !important
                font-size: 1.2em !important
                color: $verde-escuro !important
            &:hover
                background-color: $verde-escuro
                svg
                    color: $amarelo !important
// ------------- END CONTATO ------------- //
// ------------- SERVICOS ------------- //
#servicos-banner
    @include media-breakpoint-down(md)
        background-position-x: 50em
    @include media-breakpoint-down(lg)
        min-height: 15em
        background-size: auto 100%
    background: url('../img/banner-servicos.png') center
    min-height: 25em
#servicos-icones
    background-color: $verde-medio
    padding: 1em 0
    .servico
        @include media-breakpoint-down(md)
            max-width: 100%
        max-width: 100% //14%
    .servicos-grid
        display: grid
        grid-gap: 1em
        @include media-breakpoint-up(xs)
            @include make-col(10)
            grid-template: repeat(6, auto)/ 1fr
        @include media-breakpoint-up(md)
            @include make-col(10)
            grid-template: repeat(2, auto)/ 1fr 1fr 1fr
        @include media-breakpoint-up(xl)
            @include make-col(8)
            grid-template: auto/repeat(6, 1fr)
    .icone-serv
        background-color: $verde-escuro
        display: flex
        justify-content: center
        align-items: center
        padding: 2em 3em
    p
        color: #ffffff
        font-family: "Bw Modelica SS01"
        font-size: 0.7em
#detalhes-servicos
    .detalhe
        padding-bottom: 2em
        @include media-breakpoint-down(lg)
            @include make-col(10)
        @include make-col(8)
        display: flex
        justify-content: space-between
        align-items: flex-start
        .detalhe-texto
            @include media-breakpoint-down(md)
                max-width: 100%
            max-width: 47.5%
            h2
                font-family: "Bw Modelica SS01"
                font-weight: bold
                margin-bottom: 2em
            p
                text-align: justify
        .detalhe-imagem
            max-width: 47.5%
    .servico-galeria
        @include media-breakpoint-down(lg)
            @include make-col(10)
        @include make-col(8)
        .carousel-cell
            margin-right: 0em !important
            position: relative
    a
        cursor: zoom-in
.servico-contato
    margin: 2em 0
    a
        font-weight: 800
        background-color: #fff
        @include media-breakpoint-down(lg)
            padding: 1em 3em
        padding: 1em 5em
.alugel-info
    margin: 2em 0
    @include media-breakpoint-down(lg)
        @include make-col(10)
    @include make-col(8)
    h2
        @include media-breakpoint-down(lg)
            margin-bottom: 1em
        font-family: "Bw Modelica SS01"
        font-weight: bold
        margin-bottom: 2em
.alugel-grid
    @include media-breakpoint-down(md)
        @include make-col(10)
        grid-template-areas: 'Filtro' 'Item1' 'Item2' 'Item3' 'Item4' 'Item5' 'Item6'
        grid-template-columns: 100%
        grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr
    @include media-breakpoint-only(lg)
        @include make-col(10)
        grid-template-areas: 'Filtro Filtro' 'Item1 Item2' 'Item3 Item4' 'Item5 Item6'
        grid-template-columns: 50%
        grid-template-rows: auto 1fr 1fr 1fr 
    @include make-col(8)
    display: grid
    grid-template-areas: 'Filtro Item1 Item2 Item3' 'Filtro Item4 Item5 Item6'
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-gap: 2em
.alugel-item
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: stretch
    h6
        font-weight: bold
        padding: 1.2em 0.5em
        font-size: 0.8em
        border: 1px solid $cinza-claro
    .item-imagem
        display: flex
        justify-content: center
        align-items: center
    .item-botao
        a
            font-weight: bold
            cursor: pointer
    .item-detalhes
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: stretch
        p
            font-size: 0.7em
@for $i from 1 through 6
    .item-#{$i}
        grid-area: Item+$i
.alugel-filtros
    grid-area: Filtro
    h5
        font-weight: bold
        padding: 0.5em 0
        border-top: 1px solid $cinza-claro
        border-bottom: 1px solid $cinza-claro
    ul
        list-style: none !important
        padding: 0
        li
            @include media-breakpoint-down(lg)
                float: left
                width: 50%
                padding: 1em
            padding: 1em 0

// ------------- END SERVICOS ------------- //