/* ======== Font */
=font($weigth)
  font-family: 'Montserrat', sans-serif
  font-weight: $weigth

=backgroundImg($location,$color:transparent,$position:center,$repeat:no-repeat,$size:cover)
  background: url($location) $position $repeat $color
  background-size: $size

=flexbox
  display: -webkit-box
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flexbox
  display: flex

=gradient($angle,$gradient1,$gradient2,$perc1:0%,$perc2:100%)
  //background-color: $gradient2 
  background-image: -webkit-gradient(linear, $angle, from($gradient1) $perc1, to($gradient2) $perc2)
  background-image: -webkit-linear-gradient($angle, $gradient1 $perc1, $gradient2 $perc2)
  background-image:    -moz-linear-gradient($angle, $gradient1 $perc1, $gradient2 $perc2)
  background-image:     -ms-linear-gradient($angle, $gradient1 $perc1, $gradient2 $perc2)
  background-image:      -o-linear-gradient($angle, $gradient1 $perc1, $gradient2 $perc2)
  background-image:         linear-gradient($angle, $gradient1 $perc1, $gradient2 $perc2)
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=$angle,StartColorStr='#{$gradient1}', EndColorStr='#{$gradient2}')

/* ======== Outros */
=transition($transition...) 
  -moz-transition:    all $transition linear
  -o-transition:      all $transition linear
  -webkit-transition: all $transition linear
  transition:         all $transition linear

=border-radius($radius) 
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -ms-border-radius: $radius
  border-radius: $radius

=opacity($opacity) 
  opacity: $opacity
  $opacity-ie: $opacity * 100
  filter: alpha(opacity=$opacity-ie)

=shadow($hor,$ver,$blu,$spr,$op)
  -webkit-box-shadow: $hor $ver $blu $spr rgba(0,0,0,$op)
  -moz-box-shadow: $hor $ver $blu $spr rgba(0,0,0,$op)
  box-shadow: $hor $ver $blu $spr rgba(0,0,0,$op)

=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content